<!-- <section class="hero">
    <div class="container">
        <div class="hero-img-container">
          <img class="hero-img-bg" src="./img/h-card-bg@1x.png" alt="Grey background">
        </div>
        <div class="hero-content-container">
          <h1 class="hero-title">Explore the High Seas with Our Luxury Yacht Rentals</h1>
          <p class="hero-text">Experience the freedom and luxury of yachting on the open seas. Choose from our top-of-the-line yachts and embark on an unforgettable journey surrounded by breathtaking views and state-of-the-art amenities.</p>
          <div class="hero-btn-container">
            <button class="hero-grey-btn" type="button">Get Started</button>
            <button class="hero-btn" type="button">
              <a class="hero-btn-link" href="">Explore</a>
            </button>
          </div>
        </div>
    </div>
  </section> -->

