<div class="menu-container container js-menu-container" id="mobile-menu">
    <nav class="header-nav">
      <div class="header-logo-box">
        <svg class="logo-icon"  width="20" height="23">
          <use xlink:href="./img/icon.svg#a"></use>
          </svg>
        <a href="./index.html" class="header-logo-link link">yacht Adventures</a>
      </div>
      <button class="mob-close-btn js-close-menu">
        <svg class="mob-menu-close-icon"
            width="12"
            height="12"
            >
            <use href="./img/icon.svg#icon-x"></use>
        </svg>
      </button>
    </nav>
    
  <div class="mob-menu">
    <ul class="mobile-menu">
      <li>
        <a href="./index.html" class="mob-menu-link active link">About</a>
    </li>
      <li>
        <a href="#yachts-section" class="mob-menu-link link">Yachts</a>
    </li>
      <li>
        <a href="" class="mob-menu-link link">Reviews</a>
    </li>
    </ul>
  </div>
  
</div>

